@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Optional: Add custom scrollbar styling for a more professional look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}


.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}
.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 4px;
}
.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* gray-100 */
}